plugins=(zsh-interactive-cd git vscode)

# path
export PATH="$PATH:$HOME/.local/bin"

# machine-specific configuration
{{- if eq .chezmoi.os "darwin" }}
#export PATH="$PATH:/Users/ben/.local/bin"
if [ -f "/Users/ben/.config/fabric/fabric-bootstrap.inc" ]; then . "/Users/ben/.config/fabric/fabric-bootstrap.inc"; fi

source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- end }}

# shell integrations
if command -v zoxide &> /dev/null; then
  eval "$(zoxide init --cmd cd zsh)"
else
  echo "zoxide not found"
fi

if command -v fzf &> /dev/null; then
  eval "$(fzf --zsh)"
else
  echo "fzf not found"
fi

if command -v starship &> /dev/null; then
  eval "$(starship init zsh)"
else
  echo "starship not found"
fi

# alias
if command -v eza &> /dev/null; then
  alias l='eza -la --icons -s type'
  alias ls='eza -l --icons -s type'
  alias ll='eza -la --icons -s type'
else
  alias ls='ls -h --color=auto'
  echo "eza not found"
fi

if command -v nvim &> /dev/null; then
  alias v="nvim"
  alias vi="nvim"
  alias vim="nvim"
else
  alias v="vim"
  alias vi="vim"
  alias vim="vim"
  echo "nvim not found"
fi

if command -v kubectl &> /dev/null; then
  alias k='kubectl'
else
  echo "kubectl not found"
fi

alias py="python"
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
