plugins=(zsh-interactive-cd git vscode)

# machine-specific configuration

# shell integrations
if command -v zoxide &> /dev/null; then
  eval "$(zoxide init --cmd cd zsh)"
else
  echo "zoxide not found"
fi

if command -v fzf &> /dev/null; then
  eval "$(fzf --zsh)"
else
  echo "fzf not found"
fi

if command -v starship &> /dev/null; then
  eval "$(starship init zsh)"
else
  echo "starship not found"
fi

# alias
if command -v eza &> /dev/null; then
  alias l='eza -la --icons -s type'
  alias ls='eza -l --icons -s type'
  alias ll='eza -la --icons -s type'
else
  alias ls='ls -h --color=auto'
  echo "eza not found"
fi

if command -v nvim &> /dev/null; then
  alias v="nvim"
  alias vi="nvim"
  alias vim="nvim"
else
  alias v="vim"
  alias vi="vim"
  alias vim="vim"
  echo "nvim not found"
fi

if command -v kubectl &> /dev/null; then
  alias k='kubectl'
else
  echo "kubectl not found"
fi

if command -v python &> /dev/null; then
  alias py="python"
else
  echo "python not found"
fi
