# path
export PATH="$PATH:$HOME/.local/bin"

# mac-specific configuration
{{- if eq .chezmoi.os "darwin" }}
if [ -f "$HOME/.config/fabric/fabric-bootstrap.inc" ]; then . "$HOME/.config/fabric/fabric-bootstrap.inc"; fi

source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- end }}

# linux-specific configuration
{{- if eq .chezmoi.os "linux" }}
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{- end }}

# shell integrations
if command -v zoxide &> /dev/null; then
  eval "$(zoxide init --cmd cd zsh)"
else
  echo "zoxide not found"
fi

if command -v fzf &> /dev/null; then
  eval "$(fzf --zsh)"
else
  echo "fzf not found"
fi

if command -v starship &> /dev/null; then
  eval "$(starship init zsh)"
else
  echo "starship not found"
fi

# alias
if command -v eza &> /dev/null; then
  alias l='eza -la --icons -s type'
  alias ls='eza -l --icons -s type'
  alias ll='eza -la --icons -s type'
else
  alias ls='ls -h --color=auto'
  echo "eza not found"
fi

if command -v nvim &> /dev/null; then
  alias v="nvim"
  alias vi="nvim"
  alias vim="nvim"
else
  alias v="vim"
  alias vi="vim"
  alias vim="vim"
  echo "nvim not found"
fi

if command -v kubectl &> /dev/null; then
  alias k='kubectl'
else
  echo "kubectl not found"
fi

if command -v chezmoi &> /dev/null; then
  alias cm='chezmoi'
else
  echo "chezmoi not found"
fi

if command -v bat &> /dev/null; then
  alias cat='bat'
else
  alias cat='cat'
  echo "bat not found"
fi

if command -v tofu &> /dev/null; then
  alias tf='tofu'
else
  echo "(open)tofu not found"
fi

alias py="python"
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

# Added by Zinit's installer
if [[ ! -f $HOME/.local/share/zinit/zinit.git/zinit.zsh ]]; then
    print -P "%F{33} %F{220}Installing %F{33}ZDHARMA-CONTINUUM%F{220} Initiative Plugin Manager (%F{33}zdharma-continuum/zinit%F{220})…%f"
    command mkdir -p "$HOME/.local/share/zinit" && command chmod g-rwX "$HOME/.local/share/zinit"
    command git clone https://github.com/zdharma-continuum/zinit "$HOME/.local/share/zinit/zinit.git" && \
        print -P "%F{33} %F{34}Installation successful.%f%b" || \
        print -P "%F{160} The clone has failed.%f%b"
fi

source "$HOME/.local/share/zinit/zinit.git/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

# Add in zsh plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions
zinit light Aloxaf/fzf-tab
